.home-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .home-page-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .pokemon-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .pokemon-name {
    text-align: center;
  }
  
 
  @media screen and (max-width: 768px) {
    .pokemon-list {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 10px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .home-page-title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .search-input {
      font-size: 14px;
      margin-bottom: 15px;
    }
  
    .pokemon-card img {
      width: 80px;
      height: 80px;
    }
  }
  